.Bottom-container .CadreDialogue {
    height: 250px;
    width: 1500px;
    position: fixed;
    bottom: 0px;
    background-color: #FFF;
    border: 5px solid var(--dialogue_border);
    border-radius: 10px;
    z-index: 1;
    margin-left: 11%;
    margin-bottom: 10px;
}

.Bottom-container .Nom {
    padding: 20px 30px 20px 30px;
    color: black;
}

.Bottom-container .Dialogue {
    color: black;
    padding: 0px 30px 0px 30px;
}

/* Icône */

.Bottom-container .CadreDialogue .indicateur {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.Bottom-container .CadreDialogue svg {
    height: 40px;
    animation: moveUpDown 0.8s ease-in-out infinite;
}


